* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    color: black;
    font-family: 'Oswald', sans-serif; 
}

/* Pagina index */

#index {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#086972;
}

#index main {
    width: 60%;
    height: 50%;
    padding: 5%;
    border: solid #BDBDBD;
    border-radius: 30px;
    background-color:#17b978;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#index h1 {
    width: 100%;
    text-align: center;
    margin: 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

#index p {
    font-weight: 600;
}

#index section {
    margin: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

#index button {
    width: 30%;
    height: 60px;
    margin: 15px;
    border: solid #ffffff ;
    border-radius: 15px;
    background-color:#BDBDBD;
    display: flex;
    align-items: center;
    justify-content: center;
}

#index a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
}

#index a p {
    font-weight: 400;
}

/* Paginas de memotest */

body {
    background-color: #071a52;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
}

.carta {
    background-color: black;
    border-style: solid;
    border-color:black;
    border-radius: 3px;
    width: 180px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1);
}

.carta:hover {
    transform: scale(.97);
    transition: transform .2s;
}

.frente {
    display: none;
}

.contadorMovimientos {
    background-color: #17b978;
    width: 15%;
    height: auto;
    padding: 15px;
    border: solid #BDBDBD;
    border-radius: 15px;
    min-height: 100px;
}

.contadorMovimientos p {
    text-align: center;
}

/* Flip carta */

#memotest {
    perspective: 1000px;
}

.carta {
    transform-style: preserve-3d;
    transition: transform 1s;

}

.carta.flip {
    transform: rotateY(180deg);
}

.flip .frente {
    transform: rotateY(180deg);
 } 


.flip .frente {
    display: block;
}

.flip .dorso {
    display: none;
}

/* Pagina Nivel 1 */

#memotest1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    /* Con js estoy modificando la propiedad order de grid */
    align-items: center;
    justify-items: center;
    max-height: 100vh;
    border-style: solid;
    border-width: 5px;
    border-color: #BDBDBD;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

/* Pagina Nivel 2 */

#memotest2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    /* Con js estoy modificando la propiedad order de grid */
    align-items: center;
    justify-items: center;
    max-height: 100vh;
    border-style: solid;
    border-width: 5px;
    border-color: #BDBDBD;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
}

/* Pagina Nivel 3 */

#memotest3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    /* Con js estoy modificando la propiedad order de grid */
    align-items: center;
    justify-items: center;
    max-height: 100vh;
    border-style: solid;
    border-width: 5px;
    border-color: #BDBDBD;
    border-radius: 15px;
    padding: 15px;
    margin:10px;
}

#memotest3 .carta {
    width: 165px;
    height: 119px;
}




   
